
@import "colors-waybar.css";
/* @import "my-colors.css"; */

/* based on */
/* https://new.reddit.com/r/unixporn/comments/1bxkbxb/hyprland_just_bought_an_amd_gpu_and_switched_to/ */
/* https://github.com/Szelwiga/dots/blob/main/waybar/style.css */

window#waybar {
    background: rgba(0, 0, 0, 0);
    /* color: #fdf6e3; */
    color: @foreground;
}

* {
    font-size: 10pt;
    font-family: monospace;
    font-weight: bold;
    min-height: 0;
    color: @foreground;
}

* {
    /* for some reason I can't change the bar height without this */
    padding: 0;
    margin: 0;
}

tooltip label {
    padding: 3px 3px 3px 3px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    color: @foreground;
}

tooltip {
    padding: 10px 10px 10px 10px;
    border: 0px solid;
    border-radius: 8px;
    background: @background;
    color: @foreground;
}


#workspaces {
    font-size: 100pt;
    font-family: Typeface;
    padding: 2px 12px 2px 12px;
    border: 0px solid;
    border-radius: 8px;
    background: @background;
}

#workspaces button.active {
    /* background: #175b70; */
    background: @color1;
}

#workspaces button.urgent {
    background: @color8;
}

#custom-drawer-sign {
    font-size: 12pt;
    border: 0px solid;
    border-radius: 20px;
    background: @color0;
}

#custom-updates {
    padding: 3px 3px 3px 3px;
    border: 0px solid;
    border-radius: 8px;
    /* background: #591770; */
    background: @color8;
}

#custom-nightmode {
    padding: 3px 8px 3px 8px;
    border: 0px solid;
    border-radius: 8px;
    /* background: #207057; */
    background: @color12
}

#custom-wallpaper-picker {
    padding: 3px 3px 3px 3px;
    border: 0px solid;
    border-radius: 8px;
    /* background: #2F7017; */
    background: @color13
}

#custom-hyprpicker {
    padding: 3px 3px 3px 3px;
    border: 0px solid;
    border-radius: 8px;
    /* background: #f34444; */
    background: @color14
}

#clock {
    font-size: 11pt;
    padding: 3px 5px 3px 5px;
    border: 0px solid;
    border-radius: 8px;
    min-width: 180px;
    /* background: #175b70; */
    background: @color1;
}

.modules-right {
    border: 0px solid;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: @color0;
}

.modules-left {
    border: 0px solid;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background: @color0;
}

.modules-center {
    border: 0px solid;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: @color0;
}

#hardware {
    padding: 0px 0px 0px 0px;
    border: 0px solid;
    border-radius: 8px;
    /* background: #175b70; */
    background: @color1;
}

#network {
    padding: 3px 10px;
    margin: 0px 0px 0px 0px;
    border: 0px solid;
    border-radius: 8px;
    min-width: 65px;
    /* background: #175b70; */
    background: @color1;
}

#custom-uptime {
    font-family: "NotoSansMono Nerd Font";
    padding: 3px 8px 3px 8px;
    border: 0px solid;
    border-radius: 15px;
    background: @background;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    padding: 3px 8px 3px 8px;
    border: 0px solid;
    border-radius: 15px;
    background: @background;
    /* background: #175b70; */
    /* background: @color1; */
}

#battery {
    padding: 3px 10px 3px 10px;
    border: 0px solid;
    border-radius: 8px;
    background: @background;
    /* background: #175b70; */
    background: @color1;
}

#cpu {
    padding: 3px 3px;
    margin: 0px 0px 0px 0px;
}

#pulseaudio {
    padding: 3px 10px 3px 10px;
    border: 0px solid;
    border-radius: 8px;
    background: @background;
    /* background: #175b70; */ 
    /* background: @color1; */
}

#custom-playerctl {
    padding: 3px 10px 3px 10px;
    border: 0px solid;
    border-radius: 8px;
    min-width: 110px;
    background: @background;
}

#tray {
    padding: 3px 10px 3px 10px;
    border: 0px solid;
    border-radius: 8px;
    background: @background;
}

#custom-cpuicon {
    padding: 3px 0px;
    margin: 0px 0px 0px 0px;
}

#memory {
    padding: 3px 3px;
    margin: 0px 0px 0px 0px;
}

#custom-memicon1 {
    padding: 3px 0px;
    margin: 0px 0px 0px 0px;
}

#custom-space {
    padding: 3px 0px;
    margin: 0px 0px 0px 0px;
}

#pulseaudio {
    padding: 3px 0px;
    margin: 0px 0px 0px 0px;
}

#custom-app {
    padding: 3px 10px;
    margin: 0px 0px 0px 0px;
    min-width: 180px;
}
