
@theme "~/.config/rofi/colors/colors-rofi-dark.rasi"

/* @theme "~/.config/rofi/themes/nova-dark.rasi" */
// @theme "~/.config/rofi/themes/rounded-blue-dark.rasi"
// @theme "~/.config/rofi/themes/rounded-common.rasi"

